body, html
{
  padding: 1rem;  
}

#game_container {
  float: left;
  
  border: 1px solid #CCC;
  margin-bottom: 10px;
  padding: 15px;
}

.row
{
  display: flex;
}

.cell {
  width: 35px;
  height: 25px;
  border: 1px solid #CCC;
  padding: 10px 5px 5px 5px;

  background-color: #EEE;

  font-size: 16px;
  text-align: center;
  box-shadow: inset 5px 5px 10px #FFF, inset -3px -3px 5px #777;
  
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.cell::selection {
  background: transparent;
}
.cell.revealed, .cell.flagged {
  cursor: default;
}
.cell.revealed {
  background-color: #DDD;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

$cellColors: (
  1: 'blue',
  2: 'green',
  3: 'red',
  4: 'purple',
  5: 'maroon',
  6: 'turquoise',
  7: 'black',
  8: 'white'
);

@each $name, $value in $cellColors {
  .cell.adj-#{$name} {
    color: #{$value};
  }
}

.cell.adj-M {
  font-family: "FontAwesome";
  background-color: #FFCCCC;
  
  &:after
  {
    content: '\f1e2';
  }
}

.cell.flagged {
  font-family: "FontAwesome";
  
  &:after
  {
    content: '\f024';
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
.status_msg {
  margin-bottom: 10px;
}

input[type="number"] {
  width: 50px;
}
